 <h1>Listar Usuarios</h1>
<ul class="users">
  <li  *ngFor=" let user of users" >
    
    <span class="text">Usuario: {{user.nome}} &nbsp;&nbsp; Senha: {{user.senha}}</span>
    
    <button  class="button1" mat-raised-button color="primary" (click)="deletar(user)">Deletar</button>
    <a routerLink="/atualizar/{{user._id}}">
      <button  class="button2" mat-raised-button color="primary" >Alterar</button>
    </a>
           
  </li>
</ul>
<a routerLink="/cadastrar">
  <button mat-raised-button color="primary">Cadastrar</button>
</a>

